body {
  border: 10px solid #E0E0E0;
  border-radius: 20px;
  margin: 20px;
}

h1 {
  margin: 20px;
  border: 5px solid #800000;
  color:blue;
  font-style: italic;
  text-align: center;
  font-size: 3em
}

h2 {
  margin: 20px;
  padding: 5px;
  border: 5px solid #800000;
  border-radius: 10px;
  color: blue;
  width: 34%;
}

#mesCompetences {
  width: auto;
}

div.presentation {
  padding-bottom: 25px;
}

div.presentation h4 {
  color: #336699;
  margin-left: 20px;
}

#maPhoto {
  float: right;
  height: 75px;
  width: 75px;
  margin-right: 20px;
}

div.icones img {
  float: left;
  height: 15px;
  width: 15px;
}

div.presentation p {
  font-style: italic;
  margin-left: 25px;
}

table, th, td {
  margin-left: 20px;
  border-collapse: collapse;
  text-align: center;
}

 th, td {
   padding: 4px;
 }

 tr:nth-child(even) {
  background-color: #D6EEEE;
}

#table1 {
  width: 98%;
}

#table2 {
  width: 35%;
}

 #html {
   color: #0044cc;
   text-align: center;
 }

 #css {
   color: #29a329;
   text-align: center;
 }

 #javaScript {
   color: #cccc00;
   text-align: center;
 }

 #php {
   color: #cc2900;
   text-align: center;
 }

 #baseDeDonnee {
   text-align: center;
 }

 #lamp {
   text-align: center;
 }

 div.centrerTableau td {
   text-align: center;
 }

 .date {
   font-weight: bold;
   color: #800080;
 }

 #loisirs li {
   display: inline;

 }
